**This code enables manual filtering of days and hours belonging to estimated HWs during 2022 (Notebook 1). Particularly, it calculates the average over the selected days and hours. The output is a single CSV file containing the average air temperature for each station.**

It uses the altitude-corrected dataset from Notebook 2.

In [1]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interactive, Output

In [2]:
arpa = pd.read_parquet("./Data/CML-ARPA/ARPA/ARPA_2022_hourly_altcorr.parquet")
cml = pd.read_parquet("./Data/CML-ARPA/CML/CML_2022_hourly_altcorr.parquet")

In [3]:
arpa, cml

(                  Datetime  Temp     Id                         station  \
 0      2022-01-01 01:00:00 -0.55   2001                 Milano Lambrate
 1      2022-01-01 02:00:00 -0.42   2001                 Milano Lambrate
 2      2022-01-01 03:00:00  0.68   2001                 Milano Lambrate
 3      2022-01-01 04:00:00  1.38   2001                 Milano Lambrate
 4      2022-01-01 05:00:00  0.75   2001                 Milano Lambrate
 ...                    ...   ...    ...                             ...
 297835 2022-12-31 20:00:00  8.57  19426  Mariano Comense campo sportivo
 297836 2022-12-31 21:00:00  8.35  19426  Mariano Comense campo sportivo
 297837 2022-12-31 22:00:00  8.17  19426  Mariano Comense campo sportivo
 297838 2022-12-31 23:00:00  8.05  19426  Mariano Comense campo sportivo
 297839 2023-01-01 00:00:00  8.10  19426  Mariano Comense campo sportivo

               lat      long urban/natural  altitude1 Altitude-group  \
 0       45.496780  9.257515       natural      121.5        100-150
 1       45.496780  9.257515       natural      121.5        100-150
 2       45.496780  9.257515       natural      121.5        100-150
 3       45.496780  9.257515       natural      121.5        100-150
 4       45.496780  9.257515       natural      121.5        100-150
 ...           ...       ...           ...        ...            ...
 297835  45.684883  9.177769         urban      257.3        250-400
 297836  45.684883  9.177769         urban      257.3        250-400
 297837  45.684883  9.177769         urban      257.3        250-400
 297838  45.684883  9.177769         urban      257.3        250-400
 297839  45.684883  9.177769         urban      257.3        250-400

         Temp_corrected
 0                -0.42
 1                -0.29
 2                 0.81
 3                 1.51
 4                 0.88
 ...                ...
 297835            7.81
 297836            7.59
 297837            7.41
 297838            7.29
 297839            7.34

 [297840 rows x 10 columns],
                   Datetime  Temp        station        lat      long  \
 0      2022-01-01 01:00:00 -0.11  abbiategrasso  45.381389  8.911667
 1      2022-01-01 02:00:00 -0.17  abbiategrasso  45.381389  8.911667
 2      2022-01-01 03:00:00 -0.37  abbiategrasso  45.381389  8.911667
 3      2022-01-01 04:00:00 -0.39  abbiategrasso  45.381389  8.911667
 4      2022-01-01 05:00:00 -0.61  abbiategrasso  45.381389  8.911667
 ...                    ...   ...            ...        ...       ...
 551875 2022-12-31 20:00:00   NaN        zerbolo  45.227222  8.985000
 551876 2022-12-31 21:00:00   NaN        zerbolo  45.227222  8.985000
 551877 2022-12-31 22:00:00   NaN        zerbolo  45.227222  8.985000
 551878 2022-12-31 23:00:00   NaN        zerbolo  45.227222  8.985000
 551879 2023-01-01 00:00:00   NaN        zerbolo  45.227222  8.985000

                    Id urban/natural  altitude1 Altitude-group  Temp_corrected
 0       abbiategrasso         urban      112.5        100-150            0.08
 1       abbiategrasso         urban      112.5        100-150            0.02
 2       abbiategrasso         urban      112.5        100-150           -0.18
 3       abbiategrasso         urban      112.5        100-150           -0.20
 4       abbiategrasso         urban      112.5        100-150           -0.42
 ...               ...           ...        ...            ...             ...
 551875        zerbolo         urban      102.0        100-150             NaN
 551876        zerbolo         urban      102.0        100-150             NaN
 551877        zerbolo         urban      102.0        100-150             NaN
 551878        zerbolo         urban      102.0        100-150             NaN
 551879        zerbolo         urban      102.0        100-150             NaN

 [551880 rows x 10 columns])

## **Merge ARPA and CML into one df**

In [4]:
arpa = arpa.drop(columns=['Id'])

In [5]:
arpa['source'] = 'arpa'
cml['source'] = 'cml'

In [6]:
merged_df = pd.concat([arpa, cml], axis=0, ignore_index=True)
print(merged_df.head())

             Datetime  Temp          station       lat      long  \
0 2022-01-01 01:00:00 -0.55  Milano Lambrate  45.49678  9.257515
1 2022-01-01 02:00:00 -0.42  Milano Lambrate  45.49678  9.257515
2 2022-01-01 03:00:00  0.68  Milano Lambrate  45.49678  9.257515
3 2022-01-01 04:00:00  1.38  Milano Lambrate  45.49678  9.257515
4 2022-01-01 05:00:00  0.75  Milano Lambrate  45.49678  9.257515

  urban/natural  altitude1 Altitude-group  Temp_corrected source   Id
0       natural      121.5        100-150           -0.42   arpa  NaN
1       natural      121.5        100-150           -0.29   arpa  NaN
2       natural      121.5        100-150            0.81   arpa  NaN
3       natural      121.5        100-150            1.51   arpa  NaN
4       natural      121.5        100-150            0.88   arpa  NaN

In [7]:
num_unique_stations = merged_df['station'].nunique()
print(f"Number of unique stations: {num_unique_stations}")

Number of unique stations: 97

## **Filtering days and times**

Interactive selection of days and hours.

In [8]:
cml['Datetime'] = pd.to_datetime(cml['Datetime'])

# Extract date and time from 'Datetime'
merged_df['date_only'] = merged_df['Datetime'].dt.date
merged_df['time_only'] = merged_df['Datetime'].dt.time

# Get unique dates and times from the data
unique_dates = sorted(merged_df['date_only'].unique())
unique_times = sorted(merged_df['time_only'].unique())

# Create widgets for selecting days and times
day_dropdown = widgets.SelectMultiple(
    options=[('All', 'all')] + [(str(i), i) for i in unique_dates],
    value=[unique_dates[0]],  # default value
    description='Days:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='50%')
)

time_dropdown = widgets.SelectMultiple(
    options=[('All', 'all')] + [(str(i), i) for i in unique_times],
    value=[unique_times[0]],  # default value
    description='Times:',
    style={'description_width': 'initial'},
    layout=widgets.Layout(width='50%')
)

# Create an Output widget to display results
output = Output()

# Store the filtered dataframe in a global variable so it can be accessed later
filtered_data = None

# Function to filter the DataFrame based on selected days and times
def filter_by_day_and_time(selected_days, selected_times):
    global filtered_data  # Declare filtered_data as global to store it for later use

    # Clear previous output before showing new results
    with output:
        output.clear_output()

        # Convert 'selected_days' and 'selected_times' to the appropriate format
        if 'all' in selected_days:
            selected_days = unique_dates  # Include all dates if 'all' is selected
        if 'all' in selected_times:
            selected_times = unique_times  # Include all times if 'all' is selected

        # Filter the DataFrame based on selected days and times
        filtered_data = merged_df[merged_df['date_only'].isin(selected_days) & merged_df['time_only'].isin(selected_times)]
        
        if filtered_data.empty:
            print("No data available for selected filters.")
        else:
            # Display the filtered DataFrame in the output
            print(filtered_data)

# Create an interactive output with the widgets
interactive_output = interactive(filter_by_day_and_time, selected_days=day_dropdown, selected_times=time_dropdown)

# Display the widgets and the output
display(day_dropdown, time_dropdown, output)

SelectMultiple(description='Days:', index=(1,), layout=Layout(width='50%'), options=(('All', 'all'), ('2022-01…

SelectMultiple(description='Times:', index=(1,), layout=Layout(width='50%'), options=(('All', 'all'), ('00:00:…

Output()

In [13]:
filtered_data

,Datetime,Temp,station,lat,long,urban/natural,altitude1,Altitude-group,Temp_corrected,source,Id,date_only,time_only
1181,2022-02-19 06:00:00,8.42,Milano Lambrate,45.496780,9.257515,natural,121.5,100-150,8.55,arpa,NaN,2022-02-19,06:00:00
1182,2022-02-19 07:00:00,8.33,Milano Lambrate,45.496780,9.257515,natural,121.5,100-150,8.46,arpa,NaN,2022-02-19,07:00:00
1205,2022-02-20 06:00:00,9.25,Milano Lambrate,45.496780,9.257515,natural,121.5,100-150,9.38,arpa,NaN,2022-02-20,06:00:00
1206,2022-02-20 07:00:00,7.78,Milano Lambrate,45.496780,9.257515,natural,121.5,100-150,7.91,arpa,NaN,2022-02-20,07:00:00
1229,2022-02-21 06:00:00,7.08,Milano Lambrate,45.496780,9.257515,natural,121.5,100-150,7.21,arpa,NaN,2022-02-21,06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
842190,2022-02-21 07:00:00,6.69,zerbolo,45.227222,8.985000,urban,102.0,100-150,6.94,cml,zerbolo,2022-02-21,07:00:00
842213,2022-02-22 06:00:00,2.05,zerbolo,45.227222,8.985000,urban,102.0,100-150,2.30,cml,zerbolo,2022-02-22,06:00:00
842214,2022-02-22 07:00:00,1.40,zerbolo,45.227222,8.985000,urban,102.0,100-150,1.65,cml,zerbolo,2022-02-22,07:00:00
842237,2022-02-23 06:00:00,-0.17,zerbolo,45.227222,8.985000,urban,102.0,100-150,0.08,cml,zerbolo,2022-02-23,06:00:00
842238,2022-02-23 07:00:00,-0.62,zerbolo,45.227222,8.985000,urban,102.0,100-150,-0.37,cml,zerbolo,2022-02-23,07:00:00

In [14]:
# Calculate the number of NaNs and the total number of entries for each station
nan_counts = filtered_data.groupby('station')['Temp_corrected'].apply(lambda x: x.isna().sum())
total_counts = filtered_data.groupby('station')['Temp_corrected'].count()

# Calculate the percentage of NaNs for each station
nan_percentage = (nan_counts / (nan_counts + total_counts)) * 100

# Calculate the average temperature with one decimal place
station_avg_temp = filtered_data.groupby('station').agg(
    avg_temp=('Temp_corrected', 'mean'),
    lat=('lat', 'first'),
    long=('long', 'first'),
    source=('source', 'first')
).reset_index()

# Round avg_temp to one decimal
station_avg_temp['avg_temp'] = station_avg_temp['avg_temp'].round(1)

# Add the NaN percentage information
station_avg_temp['nan_percentage'] = station_avg_temp['station'].map(nan_percentage)

# Remove stations with too many NaNs (more than 20%)
threshold = 21
station_avg_temp_filtered = station_avg_temp[station_avg_temp['nan_percentage'] <= threshold]

print(station_avg_temp.to_string())
print(station_avg_temp_filtered)

                              station  avg_temp        lat      long source  nan_percentage
0                        Arconate SMR       4.8  45.548521  8.847327   arpa             0.0
1               Bereguardo Fornasetta       4.4  45.262781  9.021911   arpa             0.0
2                  Bergamo v.Stezzano       6.3  45.660521  9.658768   arpa             0.0
3             Busto Arsizio v.Rossini       4.3  45.626390  8.823884   arpa             0.0
4                  Castello d'Agogna        3.9  45.246802  8.700569   arpa             0.0
5   Cavaria con Premezzo v. Cantalupa       3.2  45.689494  8.807690   arpa             0.0
6                     Cavenago d'Adda       6.1  45.269274  9.562660   arpa             0.0
7        Cinisello Balsamo Parco Nord       5.5  45.542665  9.205603   arpa             0.0
8                 Corsico v.le Italia       6.2  45.436113  9.097412   arpa             0.0
9                      Ferno v.Di Dio       3.2  45.619248  8.756977   arpa             0.0
10              Lacchiarella v.Molise       5.6  45.324523  9.134529   arpa             0.0
11         Landriano Cascina Marianna       6.6  45.320594  9.267153   arpa             0.0
12                   Lurago Marinone        4.8  45.704966  8.988338   arpa             0.0
13            Magenta cascina Mainaga       5.4  45.458065  8.854409   arpa             0.0
14     Mariano Comense campo sportivo       4.8  45.684883  9.177769   arpa             0.0
15                    Milano Lambrate       7.4  45.496780  9.257515   arpa             0.0
16             Milano P.zza Zavattari       8.6  45.476065  9.141787   arpa             0.0
17                     Milano v.Brera       8.7  45.471658  9.189111   arpa             0.0
18                    Milano v.Feltre       7.1  45.491635  9.248739   arpa             0.0
19                    Milano v.Juvara       9.0  45.473228  9.222315   arpa             0.0
20                    Milano v.Marche       8.5  45.496319  9.190934   arpa            10.0
21                           Misinto        4.1  45.661383  9.066387   arpa             0.0
22         Montevecchia cascina Butto       6.9  45.704800  9.383874   arpa             0.0
23             Monza v.Monte Generoso       6.3  45.588626  9.245807   arpa             0.0
24            Osio Sotto v.per Levate       7.1  45.620556  9.611738   arpa             0.0
25                            Osnago        3.7  45.677697  9.388554   arpa             0.0
26                  Pogliano Milanese       5.4  45.535577  9.005200   arpa             0.0
27                         Rescaldina       4.5  45.607845  8.952897   arpa             0.0
28         Rho Scalo Fiorenza - Prato       7.1  45.517811  9.087923   arpa             0.0
29                     Rivolta d'Adda       5.8  45.444091  9.520689   arpa             0.0
30                    Rodano v.Turati       7.0  45.472582  9.353496   arpa             0.0
31              Sant'Angelo Lodigiano       6.4  45.260667  9.379660   arpa             0.0
32                Saronno v.Santuario       5.0  45.627357  9.026401   arpa             0.0
33                     Vigevano SS494       4.9  45.341426  8.879676   arpa             0.0
34                      abbiategrasso       5.1  45.381389  8.911667    cml             0.0
35                            bollate       5.4  45.548056  9.120833    cml             0.0
36                           brignano       6.4  45.540000  9.645000    cml             0.0
37                           caleppio       7.1  45.436111  9.385000    cml             0.0
38                          canegrate       5.9  45.575000  8.921389    cml             0.0
39                       capergnanica       6.9  45.339167  9.648333    cml             0.0
40                           carimate       4.0  45.689167  9.121389    cml             0.0
41                           casarile       NaN  45.318333  9.102500    cml           100.0
42                      casorateprimo       7.5  45.294722  9.003056    cml            60.0
43                       cassano_adda       6.9  45.513889  9.509722    cml             0.0
44                            castano       4.8  45.558056  8.785278    cml             0.0
45                   ceriano_laghetto       3.7  45.632222  9.089722    cml             0.0
46                             cesate       5.7  45.598056  9.068056    cml             0.0
47                           cirimido       5.3  45.685278  9.011111    cml             0.0
48                           cisliano       6.2  45.460833  8.974444    cml             0.0
49                           corbetta       6.2  45.473333  8.921667    cml             0.0
50                            credera       6.3  45.305556  9.639167    cml             0.0
51                          cremosano       6.8  45.393889  9.642222    cml             0.0
52                             crenna       3.6  45.681667  8.798889    cml             0.0
53                             filago       6.2  45.642778  9.543333    cml             0.0
54                           gaggiano       NaN  45.403056  9.028333    cml           100.0
55                           geromina       6.2  45.538889  9.576667    cml             0.0
56                         gualdrasco       5.1  45.278333  9.201389    cml             0.0
57                           inveruno       5.1  45.513889  8.840833    cml             0.0
58                               lodi       7.6  45.298889  9.520000    cml             0.0
59                           magherno       5.3  45.224167  9.332222    cml             0.0
60                           marcallo       5.1  45.495556  8.882500    cml             0.0
61                            mariano       2.0  45.686389  9.166111    cml             0.0
62                           mediglia       6.7  45.425556  9.365556    cml             0.0
63                          melegnano       6.0  45.366944  9.330000    cml             0.0
64                            mi_arbe       8.5  45.501667  9.200000    cml             0.0
65                    mi_boscoincitta       5.9  45.485278  9.091111    cml             0.0
66                          mi_genova       8.7  45.451667  9.170556    cml             0.0
67                       mi_parconord       7.1  45.538333  9.209722    cml             0.0
68                     mi_sanleonardo       7.0  45.498611  9.106111    cml             0.0
69                         mi_sansiro       7.3  45.470556  9.115833    cml             0.0
70                              monza       7.7  45.582500  9.291944    cml             0.0
71                        mortara_vvf       4.7  45.244444  8.712222    cml             0.0
72                          nizzolina       4.8  45.623889  8.911111    cml             0.0
73                             nosate       3.7  45.547778  8.721667    cml             0.0
74                       novamilanese       6.2  45.588056  9.187500    cml             0.0
75                             osnago       5.4  45.678333  9.400833    cml             0.0
76                          passarera       6.0  45.324167  9.647222    cml             0.0
77                           presezzo       5.3  45.697778  9.556944    cml             0.0
78                         rescaldina       4.4  45.617222  8.954722    cml             0.0
79                                rho       6.8  45.534167  9.056389    cml             0.0
80                            robecco       5.3  45.432222  8.885833    cml             0.0
81                         rovagnasco       6.5  45.500556  9.276944    cml             0.0
82                           samarate       4.7  45.606667  8.784167    cml             0.0
83                sanangelo_lodigiano       6.3  45.233889  9.397778    cml             0.0
84                           sedriano       6.1  45.495833  8.966389    cml             0.0
85                            seregno       4.9  45.662500  9.206667    cml             0.0
86                        settimo_mil       6.8  45.482222  9.049167    cml             0.0
87                  trescore_cremasco       6.5  45.408333  9.613889    cml             0.0
88                           tromello       4.7  45.211944  8.865833    cml             0.0
89                             uboldo       5.0  45.613056  8.996667    cml             0.0
90                          vidigulfo       5.0  45.299167  9.225833    cml             0.0
91                           vigevano       5.3  45.294722  8.854444    cml            20.0
92                            vignate       7.3  45.500278  9.380556    cml             0.0
93                         villasanta       5.5  45.616944  9.301111    cml             0.0
94                          vimodrone       8.1  45.516111  9.286667    cml            80.0
95                            vizzola       3.4  45.652500  8.684167    cml             0.0
96                            zerbolo       3.9  45.227222  8.985000    cml             0.0
                    station  avg_temp        lat      long source  \
0              Arconate SMR       4.8  45.548521  8.847327   arpa
1     Bereguardo Fornasetta       4.4  45.262781  9.021911   arpa
2        Bergamo v.Stezzano       6.3  45.660521  9.658768   arpa
3   Busto Arsizio v.Rossini       4.3  45.626390  8.823884   arpa
4        Castello d'Agogna        3.9  45.246802  8.700569   arpa
..                      ...       ...        ...       ...    ...
91                 vigevano       5.3  45.294722  8.854444    cml
92                  vignate       7.3  45.500278  9.380556    cml
93               villasanta       5.5  45.616944  9.301111    cml
95                  vizzola       3.4  45.652500  8.684167    cml
96                  zerbolo       3.9  45.227222  8.985000    cml

    nan_percentage
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
..             ...
91            20.0
92             0.0
93             0.0
95             0.0
96             0.0

[93 rows x 6 columns]

In [15]:
station_avg_temp_filtered

,station,avg_temp,lat,long,source,nan_percentage
0,Arconate SMR,4.8,45.548521,8.847327,arpa,0.0
1,Bereguardo Fornasetta,4.4,45.262781,9.021911,arpa,0.0
2,Bergamo v.Stezzano,6.3,45.660521,9.658768,arpa,0.0
3,Busto Arsizio v.Rossini,4.3,45.626390,8.823884,arpa,0.0
4,Castello d'Agogna,3.9,45.246802,8.700569,arpa,0.0
...,...,...,...,...,...,...
91,vigevano,5.3,45.294722,8.854444,cml,20.0
92,vignate,7.3,45.500278,9.380556,cml,0.0
93,villasanta,5.5,45.616944,9.301111,cml,0.0
95,vizzola,3.4,45.652500,8.684167,cml,0.0
96,zerbolo,3.9,45.227222,8.985000,cml,0.0

In [12]:
# Export to csv
# First we drop nan column
station_avg_temp_filtered = station_avg_temp_filtered.drop(columns=['nan_percentage'])

# Here change the output based on the selected HW
station_avg_temp_filtered.to_csv('./Data/CML-ARPA/HW_extracted/CML-ARPA_HP_Feb_2022_MUHI.csv', index=False)