In [52]:
import os
import pandas as pd

In [53]:
# file_path = os.path.join('CML_txt_export', 'abbiategrasso.txt')

# with open(file_path, 'r', encoding='utf-8') as file:
#     file.readline()  # Skip first row
#     file.readline()  # Skip second row
    
#     print("Column Names:")
#     print(["Date", "Time", "Temp", "Humidity", "Wind Speed"])
    
#     # Print the next 10 lines as data preview
#     print("\nFirst 10 Rows:")
#     for i in range(10):
#         line = file.readline()
#         if not line:
#             break  # Stop if end of file is reached
#         columns = line.strip().split('\t')
#         if len(columns) >= 8:
#             print([columns[0], columns[1], columns[2], columns[5], columns[7]])

In [60]:
directory = "./CML_txt_export"

In [69]:
for filename in os.listdir(directory):
    if filename.endswith(".txt"):
        file_path = os.path.join(directory, filename)
        
        # Read lines from file
        with open(file_path, 'r', encoding='utf-8') as f:
            lines = f.readlines()
        
        # Extract and keep only the first 8 columns of data
        data = [line.strip().split('\t')[:8] for line in lines[2:]]
        
        # Create DataFrame
        df = pd.DataFrame(data, columns=column_names)

        # Merge Date and Time into a single Datetime column
        df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%y %H:%M')

        # Drop original columns and reorder
        df.drop(columns=['Date', 'Time'], inplace=True)
        df = df[['Datetime', 'Temp', 'Max_Temp', 'Min_Temp', 'Humidity', 'Dew_Point', 'Wind Speed']]
        
        # Create output filename
        output_filename = os.path.splitext(filename)[0] + ".csv"
        output_path = os.path.join(directory, output_filename)
        
        # Save to CSV
        df.to_csv(output_path, index=False)
        print(f"Converted: {filename} -> {output_filename}")

Converted: abbiategrasso.txt -> abbiategrasso.csv
Converted: bollate.txt -> bollate.csv
Converted: brignano.txt -> brignano.csv
Converted: caleppio.txt -> caleppio.csv
Converted: canegrate.txt -> canegrate.csv
Converted: capergnanica.txt -> capergnanica.csv
Converted: carimate.txt -> carimate.csv
Converted: casarile.txt -> casarile.csv
Converted: casorateprimo.txt -> casorateprimo.csv
Converted: cassano_adda.txt -> cassano_adda.csv
Converted: castano.txt -> castano.csv
Converted: ceriano_laghetto.txt -> ceriano_laghetto.csv
Converted: cesate.txt -> cesate.csv
Converted: cirimido.txt -> cirimido.csv
Converted: cisliano.txt -> cisliano.csv
Converted: corbetta.txt -> corbetta.csv
Converted: credera.txt -> credera.csv
Converted: cremosano.txt -> cremosano.csv
Converted: crenna.txt -> crenna.csv
Converted: filago.txt -> filago.csv
Converted: gaggiano.txt -> gaggiano.csv
Converted: geromina.txt -> geromina.csv
Converted: gualdrasco.txt -> gualdrasco.csv
Converted: inveruno.txt -> inveruno.csv
Converted: lodi.txt -> lodi.csv
Converted: magherno.txt -> magherno.csv
Converted: marcallo.txt -> marcallo.csv
Converted: mariano.txt -> mariano.csv
Converted: mediglia.txt -> mediglia.csv
Converted: melegnano.txt -> melegnano.csv
Converted: mi_arbe.txt -> mi_arbe.csv
Converted: mi_boscoincitta.txt -> mi_boscoincitta.csv
Converted: mi_genova.txt -> mi_genova.csv
Converted: mi_parconord.txt -> mi_parconord.csv
Converted: mi_sanleonardo.txt -> mi_sanleonardo.csv
Converted: mi_sansiro.txt -> mi_sansiro.csv
Converted: monza.txt -> monza.csv
Converted: mortara_vvf.txt -> mortara_vvf.csv
Converted: nizzolina.txt -> nizzolina.csv
Converted: nosate.txt -> nosate.csv
Converted: novamilanese.txt -> novamilanese.csv
Converted: osnago.txt -> osnago.csv
Converted: passarera.txt -> passarera.csv
Converted: presezzo.txt -> presezzo.csv
Converted: rescaldina.txt -> rescaldina.csv
Converted: rho.txt -> rho.csv
Converted: robecco.txt -> robecco.csv
Converted: rovagnasco.txt -> rovagnasco.csv
Converted: samarate.txt -> samarate.csv
Converted: sanangelo_lodigiano.txt -> sanangelo_lodigiano.csv
Converted: sedriano.txt -> sedriano.csv
Converted: seregno.txt -> seregno.csv
Converted: settimo_mil.txt -> settimo_mil.csv
Converted: trescore_cremasco.txt -> trescore_cremasco.csv
Converted: tromello.txt -> tromello.csv
Converted: uboldo.txt -> uboldo.csv
Converted: vidigulfo.txt -> vidigulfo.csv
Converted: vigevano.txt -> vigevano.csv
Converted: vignate.txt -> vignate.csv
Converted: villasanta.txt -> villasanta.csv
Converted: vimodrone.txt -> vimodrone.csv
Converted: vizzola.txt -> vizzola.csv
Converted: zerbolo.txt -> zerbolo.csv

In [70]:
df

,Datetime,Temp,Max_Temp,Min_Temp,Humidity,Dew_Point,Wind Speed
0,2022-01-01 00:05:00,1.2,1.2,1.2,27,-15.8,0.0
1,2022-01-01 00:10:00,1.1,1.2,1.1,27,-15.9,0.0
2,2022-01-01 00:15:00,1.0,1.1,1.0,27,-16.0,0.0
3,2022-01-01 00:20:00,1.1,1.1,1.0,27,-15.9,0.0
4,2022-01-01 00:25:00,1.1,1.1,1.0,27,-15.9,0.4
...,...,...,...,...,...,...,...
79616,2022-10-04 04:35:00,12.9,13.0,12.9,95,12.2,0.0
79617,2022-10-04 04:40:00,12.8,12.9,12.8,95,12.1,0.0
79618,2022-10-04 04:45:00,12.9,12.9,12.8,95,12.1,0.0
79619,2022-10-04 04:50:00,12.9,12.9,12.8,95,12.1,0.0
79620,2022-10-04 04:55:00,12.9,12.9,12.9,95,12.2,0.0